@CHARSET "UTF-8";



.popup_div_envi {
	font-size:20px;
	display: inline-block;
	width: 600px;
	height: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -300px;
	background-color: #FFFFFF;
	border: 2px solid #e0e0eb;
	z-index: 1000;
	box-shadow: 1px 1px 3px grey;
}



.header_envi {
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
	padding-left:20px;
    color: white;
    background: #023459;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con_envi {
	width: 100%;
	height: 100%;
}




.wrap_envi {
	width: 460px;
    margin: 0px auto;
    margin-top: 45px;
    margin-bottom: 50px;
	background-color: #fff;
}

.station_title_envi {
	font-size: 14px;
	font-weight:bold;
    height: 26px;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    padding: 17px 14px 8px;

}

.a_envi {
		text-decoration: none;
		color: #fff;
	}

 .box_envi{
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 5px;
  }

  
.sub_con_envi {

	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%; height: 375px;;
}
.top_title_envi {
	display: flex;
	width: 100%;
  
}
  .box_title_envi{
    position: relative;
 background-image:url("images/handleimg.png");       
                       
  height:88px;

  }


.img_cover_envi{
    backdrop-filter: blur(5px);
    padding-top: 60px;
    height: 28px;

 
}
.img_cover_con_envi{/* 어디로 왔능가  */
	font-size: 15px;
background: rgba(52, 75, 22, 0.63);
	color: #fff;
	text-align: right;
}

.val_box_envi{
    flex: 1;
    padding:30px 30px 30px 30px;
}
.table_envi, .td_envi {
  width:300px;
  height:30px;
  border-collapse : collapse;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size:13px;

};

#val_envi{
width:30px;
  height:30px;
  background-color: #fff;
}

.con_val{
font-size:13px;
margin-top: 5px;
}
#val_table_envi{

margin-top: 60px;
margin-left:50px;
}
#air_guide_btn:hover{
text-decoration: underline;
}
#select_station_envi,#sName_envi{
width:165px;
 height: 30px;
}
#val_envi,#vals_envi{
font-size: 15px;

}
#vals_envi{
height:140px;
font-size:15px;
}
#air_search_envi{
background-color: #82b2da;
color:white;
    width: 50px;
    height: 30px;
    border: #fff;
    color: white;

}
.label_envi{
font-size:15px;
font-weight: bold;
}

.btn_box_envi{
	display:inline-block;
	width:100%;
	height :50px;
	margin-top:25px;
	text-align: center;
}

.btn_envi{
	background-color: #82b2da;
    color: white;
    width: 50px;
    height: 30px;
    border: #fff;
    color: white;
}