@CHARSET "UTF-8";
 .box_tit{
    position: relative;
 background-image:url("resources/images/sub.png");       
 background-size:cover;                      
  height:88px;

  }


.img_cov{
 backdrop-filter: blur(5px);
 padding-top:60px;
height: 28px;

 
}
.img_cov_con{/* 어디로 왔능가  */

font-size: 15px;

background:rgba(52, 75, 22, 0.63);
    color: #fff;
    text-align: right;
   

}


#con_tab {
  width:450px;
  height:60px;
  border-collapse : collapse;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size:13px;

}


#con_tab>td, tr{
	border : 2px solid #e0e0eb;
	border-collapse: collapse;
	
	padding : 10px;
	text-align: center;
}


