@CHARSET "UTF-8";

.bg_divPw {
	width: 120%;
	height: 100%;
	position: absolute;
	background-color: #000000;
	opacity:0.3;
	z-index: 100;
}

.popup_divPw {
	font-size:20px;
	display: inline-block;
	width: 400px;
	height: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -140px;
	background-color: #FFFFFF;
	border: 2px solid #e0e0eb;
	z-index: 1000;
	box-shadow: 1px 1px 3px grey;
}

.popup_titlePw {
	line-height:40px;
	height: 40px;
	background-color: #e0e0eb;
}

.popup_title_textPw {
	padding-left: 5px;
	color: black;
	vertical-align: middle;

}

.popup_contentsPw {
	height: 206px;
}
.popup_textPw {
	height: 156px;
	text-align: center;
	white-space: pre-line;
	overflow-y: auto;
	padding: 5px;
}
.popup_btnPw {
	height: 30px;
	text-align: center;
}

.btn_okPw {
background-color:#82b2da;
font-size: 20px;
margin-right:10px;
width :80px;
height :40px;
border : 0;
cursor: pointer;
box-shadow: 1px 2px 3px grey;

}

.btn_closePw {
background-color:#e0e0eb;
font-size: 20px;
margin-right:10px;
width :80px;
height :40px;
border : 0;
cursor: pointer;
box-shadow: 1px 2px 3px grey;

}



.pw{
width:300px;
height:30px;
font-size: 20px;
outline: none;
border: 1px solid #e0e0eb;
}