@CHARSET "UTF-8";



.popup_div {
	font-size:20px;
	display: inline-block;
	width: 400px;
	height: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -140px;
	background-color: #FFFFFF;
	border: 2px solid #e0e0eb;
	z-index: 1000;
	box-shadow: 1px 1px 3px grey;
}

.popup_title {
	line-height:40px;
	height: 40px;
	background-color: #e0e0eb;
}

.popup_title_text {
	padding-left: 5px;
	color: black;
	vertical-align: middle;

}

.popup_contents {
	height: 206px;
}
.popup_text {
	height: 156px;
	text-align: center;
	white-space: pre-line;
	overflow-y: auto;
	padding: 5px;
}
.popup_btn {
	height: 30px;
	text-align: center;
}

.btn_ok {
background-color:#e0e0eb;
font-size: 20px;
margin-right:10px;
width :80px;
height :40px;
border : 0;
cursor: pointer;
box-shadow: 1px 2px 3px grey;

}

.btn_yes {
background-color:#e0e0eb;
font-size: 20px;
margin-right:10px;
width :80px;
height :40px;
border : 0;
cursor: pointer;
box-shadow: 1px 2px 3px grey;

}

.btn_no {
background-color:#82b2da;
font-size: 20px;
margin-right:10px;
width :80px;
height :40px;
border : 0;
cursor: pointer;
box-shadow: 1px 2px 3px grey;

}



.id{
width:300px;
height:30px;
font-size: 20px;
outline: none;
border: 1px solid #e0e0eb;

}

.pw{
width:300px;
height:30px;
font-size: 20px;
outline: none;
border: 1px solid #e0e0eb;
}