@CHARSET "UTF-8";



header {
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding-left: 20px;
	color: white;
	background: #023459;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding-left: 20px;
	color: white;
	background: #023459;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup {
	width: 100%;
	height: 100%;
}

.wrap {
	width: 460px;
	margin: 0px auto;
	margin-top: 45px;
	margin-bottom: 50px;
	background-color: #fff;
}

.c_title {
	font-size: 14px;
	font-weight: bold;
	height: 26px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	padding: 17px 14px 8px;
}

.txt {
	width: 70%;;
	height: 29px;
	padding: 10px 14px;
	border: 1px solid #dadada;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 415px 5px;
	background-size: 200px auto;
}

#bot_btn {
	border: 1px solid;
	font-size: 20px;
	border-radius: 5px 5px 5px 5px;
	border-color: #82B2DA;
	margin-left: 5px;
	float: right;
}

#bot_btn :hover {
	font-size: 20px;
	border-radius: 5px 5px 5px 5px;
	background: #B2A59F;
	float: right;
}

.sub_con {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 375px;;
}

.top_title {
	display: flex;
}



.img_cov {
	backdrop-filter: blur(5px);
	background-size: cover;
	padding-top: 60px;
	height: 28px;
}

.img_cov_con { /* 어디로 왔능가  */
	font-size: 15px;
	background: rgba(52, 75, 22, 0.63);
	color: #fff;
	text-align: right;
}

.con_side {
	width: 130px;
	text-align: center;
	padding-top: 20%;
}

.val_box {
	flex: 1;
	padding: 30px 5px 30px 5px;
}

#timetable {
	width: 300px;
	height: 30px;
	border-collapse: collapse;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
	font-size: 13px;
}

;
#val {
	width: 30px;
	height: 30px;
	background-color: #fff;
}

.contents_val {
	font-size: 13px;
	margin-top: 5px;
}

#val_tab {
	margin-top: 60px;
}



#timetable > thead {
	display: table-header-group;
	vertical-align: middle;
	background-color: #f0f0f5;
}

#timetable > tbody {
	border: 2px solid #e0e0eb;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
	width: 400px;
}

#dateBtn1 {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#dateBtn2 {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#dateBtn3 {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#timetable button {
	background-color: blue;
}